{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "standard",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-empty-function": "off",
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": ["block-like", "break", "case", "class", "const", "continue", "default", "directive", "do", "import", "export", "expression", "for", "function", "if", "iife", "let", "multiline-block-like", "multiline-const", "multiline-expression", "multiline-let", "return", "throw", "try", "while"], "next": "*" },
      { "blankLine": "any", "prev": ["import"], "next": ["import"] }
    ]
  }
}