{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "standard",
    "plugin:@typescript-eslint/recommended",
    "plugin:perfectionist/recommended-natural",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "plugins": [
    "@typescript-eslint",
    "perfectionist"
  ],
  "rules": {
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-empty-function": "off",
    "perfectionist/sort-objects": "off",
    "perfectionist/sort-classes": "off",
    "perfectionist/sort-enums": "off",
    "perfectionist/sort-interfaces": "off",
    "perfectionist/sort-object-types": "off",
    "perfectionist/sort-union-types": "off",
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": ["block-like", "break", "case", "class", "const", "continue", "default", "directive", "do", "import", "export", "expression", "for", "function", "if", "iife", "let", "multiline-block-like", "multiline-const", "multiline-expression", "multiline-let", "return", "throw", "try", "while"], "next": "*" },
      { "blankLine": "any", "prev": ["import"], "next": ["import"] }
    ]
  }
}